@font-face{
    font-family: lato;
    src: url('../assets/Lato-Regular.ttf');
}
@font-face{
    font-family: lato-bold;
    src: url('../assets/Lato-Bold.ttf');
}
@font-face{
    font-family: mavenPro;
    src: url('../assets/MavenPro-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1020px;
}